<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #8fc4b7">
<img src="https://wallpaper.dog/large/20525225.jpg" width="150" height="120" class="d-inline-blockdatalign-top"datalt="">
  <a class="navbar-brand" >Cryptomania</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"dataria-controls="navbarSupportedContent"dataria-expanded="false"dataria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto"style="font-color: #0a0a0a">
      <li class="nav-itemdatactive">
        <a class="nav-link" href="/">Home <span class="sr-only"></span></a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/currencies/my_coins">My Coins</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/histories/index">History</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/profiles/index">Profile</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="/wallets/index">My Wallet</a>
      </li>

      <%= link_to "Sign out", destroy_user_session_path, method: :delete %> 
      
     
    </ul>
  
  </div>
</nav> 

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Buy</th>
      <th scope="col">Sell</th>
    </tr>
  </thead>
  <tbody>
    </tr>
<% @history.each do |data|%>

    <tr>
    <td><%= data.currency[:name]%></td>
    <td>Buy at <%= data.created_at %></td>
    <% if data.created_at != data.updated_at%>
      <td>Sell at <%= data.updated_at %></td>
    <%end%>
  </tr>
<% end %> 
  </tbody>
</table>